footer {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient(to top,
            rgba(0, 0, 0, 0.1),
            var(--primary)),
        url("../assets/footer.png");
    display: flex;
    flex-direction: column;
    background-position: center center;
    padding-top: 12rem;
}

footer::before {
    content: "";
    position: absolute;
    z-index: -1;
}

.logo-container h1 {
    font-size: 2rem;
    text-align: start;
}

.about-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-footer p {
    margin: 1rem 0 0;
    text-align: center;
}

.footer-logo {
    width: 40%;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0 3rem;
}

.social-icons a {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.social-icons i {
    margin: 2rem 1rem;
    color: #d8d8d8;
    font-size: 3.5rem;
}

.social-icons i:hover {
    color: var(--terciary);
    animation: translateY 0.8s infinite alternate;
}

.copyright {
    padding: 1rem 3rem 2rem;
    width: 100%;
    background-color: var(--secondary);
}

.copyright p {
    color: var(--terciary);
    text-align: center;
}

.copyright a {
    font-size: 1rem;
    letter-spacing: 0;
    text-transform: none;
    color: var(--terciary);
}

.copyright a:hover {
    color: #000;
}


.btn-wpp {
    position: fixed;
    right: 0;
    margin-right: 0.3rem;
    max-width: 5rem;
    bottom: 1rem;
    z-index: 99;
}

.btn-wpp img {
    transition: transform 0.5s;
}

.btn-wpp img:hover {
    transform: scale(1.1);
}

.btn-wpp .tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 7.5rem;
    top: 0.5rem;
    left: -9rem;
    padding: 7px;
    text-align: center;
    background-color: #232224;
    color: #fff;
    opacity: 0;
    transition: opacity 0.4s;
    border-radius: 0.5rem;
}

.btn-wpp:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Responsive */

@media screen and (max-width:968px) {

    .footer-logo {
        width: 100%;
    }

    .btn-wpp img {
        max-width: 5rem;
    }

}

@media screen and (max-width:468px) {

    footer {
        background-image: linear-gradient(to top,
                rgba(0, 0, 0, 0.1),
                var(--primary)),
            url("../assets/footer-mobile.png");
        background-attachment: scroll;
    }

    .footer-logo {
        width: 90%;
        padding: 0 0 1rem;
    }

    .about-footer p {
        max-width: 80%;
    }

    .copyright {
        padding: 1rem 0.5rem 1rem;
    }

    .social-icons i {
        font-size: 2rem;
    }

    .btn-wpp {
        margin-bottom: 1rem;
    }

    .about-footer {
        flex-direction: column;
        justify-content: space-around;
    }
}