section.packages {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.4),
            var(--primary)),
        url("../assets/bg-home.webp");
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
}

section.packages::before {
    content: "";
    position: absolute;
    z-index: -1;
}


.resume-section {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.resume-section p {
    max-width: 60%;
    font-size: 1.5rem;
}

.content-packages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 3rem;
}

.pack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2.3rem 1.2rem;
    margin: 1rem;
    border: 1px solid #fff;
    border-radius: 0.4rem;
    gap: 1rem;
    background-color: var(--primary);
}

.pack-info h2 {
    font-size: 2rem;
    letter-spacing: 3px;
    color: var(--terciary);
}

.pack-info span {
    color: var(--secondary);
}

.line-package {
    width: 90%;
    border: 1px solid var(--secondary);
    height: 1px;

}

.btn-act {
    text-transform: uppercase;
    color: var(--terciary);
    font-size: 1.3rem;
    font-weight: bolder;
    margin-top: 1rem;
    border: 0;
    border-radius: 0.4rem;
    padding: 0.5rem 2rem;
    background-color: var(--secondary);
}

.btn-act:hover {
    color: var(--terciary);
    border: 1px solid var(--terciary);
    animation: translateY 0.8s infinite alternate;
}

/* Responsive */

@media screen and (max-width:968px) {

    .resume-section p {
        max-width: 90%;
        font-size: 1.5rem;
    }

}

@media screen and (max-width:468px) {

    section.packages {
        background-image: linear-gradient(to bottom,
                rgba(0, 0, 0, 0.4),
                var(--primary)),
            url("../assets/bg-mobile-packages.webp");
    }

    .resume-section p {
        max-width: 100%;
        font-size: 1rem;
        padding: 0rem 0.5rem;
    }

    .content-packages {
        padding: 0 0;
    }


}